<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="menu-title">
    <h2>Daftar Menu</h2>
  </div>
  <div class="menu-grid">
    <!-- <ion-router-link *ngFor="let item of menuItems" [routerLink]="item.url" class="menu-item">
      <img [src]="item.icon" alt="{{ item.title }}" class="menu-icon" />
      <p>{{ item.title }}</p>
    </ion-router-link> -->
    @for (item of menuItems; track $index) { @if(item.title === "Logout") {
    <button id="alert-logout" class="menu-item">
      <img [src]="item.icon" alt="{{ item.title }}" class="menu-icon" />
      <p>{{ item.title }}</p>
    </button>
    } @else {
    <ion-router-link [routerLink]="item.url" class="menu-item">
      <img [src]="item.icon" alt="{{ item.title }}" class="menu-icon" />
      <p>{{ item.title }}</p>
    </ion-router-link>
    } }
  </div>

  <ion-alert
    trigger="alert-logout"
    header="Apakah anda ingin Logout"
    [buttons]="alertButtonsLogout"
  ></ion-alert>
</ion-content>
