:host {
    --ion-background-color: #ffffff;
  }
  
  ion-header {
    --background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    --color: #000;
  }
  
  ion-content {
    --background: #ffffff;
  }
  
  .materi-container {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .materi-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  ion-accordion {
    // border: 1px solid #000;
    // border-radius: 15px;
    margin-bottom: 10px;
    color: #000;
  }
  
  ion-item {
    --background: #ffffff;
    --inner-border-width: 0;
    border-radius: 15px;
  }
  
  .ion-padding {
    background-color: #f9f9f9;
    border-radius: 15px;
    border: 1px solid #000;
  }
  