<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lihat Materi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lihat Materi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="materi-container">
    <h2>Nama Kursus: {{ namaKursus }}</h2>
    <ion-accordion-group>
      <ion-accordion *ngFor="let materi of materiList">
        <ion-item slot="header" color="light">
          <ion-label>{{ materi.nama }}</ion-label>
        </ion-item><br>
        <div class="ion-padding" slot="content">
          <p><strong>Nama:</strong> {{ materi.detail.nama }}</p>
          <p><strong>Deskripsi:</strong> {{ materi.detail.deskripsi }}</p>
          <p><strong>Materi:</strong> <a href="{{ materi.detail.link }}">lihat materi</a></p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
