.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-body .card-title, .card-body .card-text {
    flex-grow: 1;
}

.card-body .btn {
    margin-top: auto;
}

/* resources/css/custom.css */

/* Card Style */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 150px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card .card-body h3 {
    font-size: 2rem;
    font-weight: bold;
}

.card .card-body p {
    font-size: 1.2rem;
    color: #fff;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

/* Container Padding */
.container {
    padding: 20px;
}

